.section-two{
	//height: 760px;
	//background: radial-gradient(at right center,white,#c8c9c8);
	background: radial-gradient(circle at 80% 50%,#f6f5f5,#c8c9c8);
	padding-top: 52px;
	@include box-sizing();
	position: relative;
	padding-bottom: 80px;
}
.content2__left{
	margin-left: 30px;
	width: 600px;
	float: left;
	margin-top: (115px)-(52px);
	@include tablet{
		margin-top: 20px;
		width: 50%;
	}
	@include mini-table{
		margin-left: 0;
	}
	@include mobile{
		width: 100%;
	}
}
.content2__right{
	float: right;
	width: 421px;
	@include tablet{
		width: 42%;
	}
	@include mini-table{
		padding-right: 20px;
	}
}
.content2__left_info{
	width: 420px;
	@include mini-table{
		text-align: center;
	}
	@include mobile{
		width: inherit;
	}
}
.content2__left_title{
	font-size: 62px;
	@include fira();
	color: #2b2f5f;
	@include tablet{
		font-size: 54px;
	}
	@include mobile{
		font-size: 32px;
	}
}
.content2__left_text{
	font-size: 15px;
	color: #747474;
	margin-top: 40px;
	@include mobile{
		font-size: 14px;
		padding: 0 30px;
	}
}
.content2__list{
	margin-top: 35px;
	@include tablet{
		text-align: center;
	}
}
.content2__item{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
	&:nth-child(2){
		.content2__item-text{
		margin-left: 20px;
		@include tablet{
			margin-left: 0px;
		}
		}
	}
	@include mobile{
		display: block;
		width: 50%;
		margin: 30px auto;
	}

}
.content2__item-img{
	@include tablet{
		width: 75%;
		margin: 0 auto;
	}
	img{
		width: 100%;
	}
}
.content2__item-text{
	font-size: 16px;
	@include fira();
	color: #747474;
	width: 150px;
	@include tablet{
		margin: 0 auto;
	}
}
.content2__right-img{
	position: absolute;
	width: 383px;
	//height: 708px;
	bottom: -6px;
		img{
		width: 100%;
		//height: 100%;
	}
	@include tablet{
		width: 330px;
	}
	@include mini-table{
		width: 260px;
		right: 15px;
	}
	@include mobile{
		display: none;
	}
}
